/pyproject.toml
/uv.lock
**/.venv
**/*.code-workspace
**/.vscode/
**/__pycache__/
**/*.pyc
**/*.pyo
**/*.pyd
**/.mypy_cache/
**/.claude/
**/*.zip
**/data/

# Big data files
hw/hw1/data/quickdraw/sample_submission.csv
hw/hw1/data/quickdraw/test.csv
hw/hw1/data/quickdraw/train.csv
hw/hw1/models/
